---
import wechatImg from "@/assets/wechat-code.jpg";
import alipayImg from "@/assets/alipay-code.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
const meta = {
	description: "donate to support my projects",
	title: "thanks for your supports",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">请我喝杯咖啡（buy me coffee）</h1>
	<h3>如果你认可我的工作，请我喝杯咖啡以示鼓励和支持</h3>
	<h3>
		If you appreciate my work, please buy me a cup of coffee to show your encouragement and support.
	</h3>
	<div class="grid grid-cols-12 gap-4 bg-gray-200">
		<div class="col-span-6 bg-gray-200 p-4">
			<Image alt="" class="" loading="eager" src={wechatImg} />
		</div>
		<div class="col-span-6 bg-gray-200 p-4">
			<Image alt="" class="" loading="eager" src={alipayImg} />
		</div>
	</div>
</PageLayout>
